<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%=4+5 %> </h1>
    <h1>Random page <%= rand %> </h1>
    <% if(rand%2===0) {%>
        <h1>Even</h1>
    <% }else {%>
        <h2>odd</h2>
    <%}%>

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
     asperiores cupiditate est corrupti! Dolorem nobis perferendis consectetur 
     libero cupiditate impedit. At quisquam quas hic! Ipsum eos quam neque 
     magnam magni?</p>
</body>
</html>